<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874057323078-fbocedhnp468a52nkoa6gs5e07r0bvbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874057323078-fbocedhnp468a52nkoa6gs5e07r0bvbc</string>
	<key>API_KEY</key>
	<string>AIzaSyCQV3peobQ2SXv7dyjo6KyUpnC3RSx5X3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>874057323078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nourishnutritionuk.nourishnutrition</string>
	<key>PROJECT_ID</key>
	<string>nourish-nutrition-b92ed</string>
	<key>STORAGE_BUCKET</key>
	<string>nourish-nutrition-b92ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874057323078:ios:a54df636f83148929fb047</string>
	<key>DATABASE_URL</key>
	<string>https://nourish-nutrition-b92ed.firebaseio.com</string>
</dict>
</plist>